<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body style="background-color: #6C4A4A">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="page-content container note-has-grid">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #DDBEBE;">
          <a class="navbar-brand" href="{% url 'index_lab4' %}">N O T E S</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'index_lab4' %}">Table View <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'note-list' %}">Card View</a>
              </li>
            </ul>
            <span class="nav-item active">
              <a class="nav-link" href="{% url 'add_note' %}" style="color: black;">Add Notes +</a>
            </span>
          </div>
        </nav>
        <div class="tab-content bg-transparent">
            <div id="note-full-container" class="note-has-grid row">
                <div class="col-xl-12 single-note-item all-category">
                    <div class="card card-body text-center">
                        <form method="POST" action="">
                            {%csrf_token%}
                            <div class="row">
                                <div class="col-md-12 mb-3">
                                    <div class="note-from">
                                        <label>From</label>
                                        <br>
                                        {{ form.From }}
                                    </div>
                                </div>

                                <div class="col-md-12 mb-3">
                                    <div class="note-to">
                                        <label>To</label>
                                        <br>
                                        {{ form.To }}
                                    </div>
                                </div>

                                <div class="col-md-12 mb-3">
                                    <div class="note-title">
                                        <label>Title</label>
                                        <br>
                                        {{ form.Title }}
                                    </div>
                                </div>

                                <div class="col-md-12 mb-3">
                                    <div class="note-message">
                                        <label>Message</label>
                                        <br>
                                        {{ form.Message }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-footer">
                                <input type="submit" class="btn" style="background-color: #DDBEBE;" value="Add"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
