<!DOCTYPE html>
<html lang="en">
<head>
    <style>
    .card {
        padding: 10px;
        border: none;
        cursor: pointer;
        margin-bottom: 10px;
        overflow: auto;
    }

    .card:hover {
        background-color: #EDEDED
    }
    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body style="background-color:#6C4A4A">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="page-content container note-has-grid">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #DDBEBE;">
          <a class="navbar-brand" href="{% url 'index_lab4' %}">N O T E S</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'index_lab4' %}">Table View <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'note-list' %}">Card View</a>
              </li>
            </ul>
            <span class="nav-item">
              <a class="nav-link" href="{% url 'add_note' %}" style="color: black;">Add Notes +</a>
            </span>
          </div>
        </nav>
        <div class="tab-content bg-transparent" style="padding: 10px">
            <div id="note-full-container" class="note-has-grid row">
                {% for i in data %}
                <div class="col-md-4 single-note-item all-category">
                    <div class="card card-body" >
                        <h4 >{{ i.Title }}</h4>
                        <p class="note-person text-muted">From: {{ i.From }}</p>
                        <p class="note-person text-muted">To: {{  i.To }}</p>
                        <div class="note-content">
                            <p class="note-inner-content text-muted">{{ i.Message }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>
