<!DOCTYPE html>
<html lang="en">
  <style>
    table, th, td {
    border: 1px solid rgb(5, 13, 83);
    }
    th, td {
    padding-right: 16px;
    padding-left: 16px;
    }
    th {
      background-color: #1e81b0;
    }
    tr:nth-child(even){background-color: #abdbe3;}
      
    tr:hover {background-color: #53b4cc;}
  </style>
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <body>
    <table>
      <tr style="color: rgb(255, 255, 255);">
        <th>Name</th>
        <th>NPM</th>
        <th>DOB</th>
      </tr>
      {% for friend in friends %}
      <tr>
        <td>{{ friend.name }}</td>
        <td>{{ friend.npm }}</td>
        <td>{{ friend.dob }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
