<!DOCTYPE html>
<html lang="en">
<style>
  table, th, td {
  border: 1px solid rgb(26, 2, 63);
  }
  th, td {
  padding-right: 16px;
  padding-left: 16px;
  }
  th {
    background-color: #ec7766;
  }
  tr:nth-child(even){background-color: #ffffcd;}
    
  tr:hover {background-color: #f2d981;}
</style>
  <head>
    <meta charset="UTF-8" />
    <title>Surat</title>
  </head>
  <body style="display: flex; justify-content: center;">
    <table>
      <tr style="color: rgb(255, 255, 255);">
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
      {% for i in data %}
      <tr style="color: rgb(0, 0, 0);">
        <td>{{ i.To }}</td>
        <td>{{ i.From }}</td>
        <td>{{ i.Title }}</td>
        <td style="max-width: 700px; word-break: break-all;">{{ i.Message }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
